langchain
langchain_google_genai
langgraph
google-cloud-aiplatform
pandas
db-dtypes
google-auth
google-auth-oauthlib
google-auth-httplib2
langchain-openai
langchain-anthropic
findspark
pyspark
tenacity  # For retries
asyncio
langsmith  # Monitoring
prometheus-client
elasticsearch  # ELK logging
evidently  # Drift detection
feast  # Feature store
promptfoo  # LLM testing
